body {
  margin: 0 auto;
  text-align: center;
  background-color: #eaf6f6;
}

hr {
    margin: 30px auto;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  h1 {
    color: #66bfbf;
  }

.profile-image {
  position: absolute;
  top: 1em;
  left: 1.5em;
}

.name-and-bio {
  margin: 3.7em auto;
  text-align: center;
}

.contact-info {
  position: absolute;
  top: 2.7em;
  right: 1.5em;
  line-height: 10px;
  text-align: right;
}

.about-me-content {
    line-height: 10px;
}
.my-code-content {
    position: absolute;
    left: 25%;
    text-align: left;
}

.pro {
    text-decoration: underline;
}